.all-data-container{
    display: none;
}
.all-data-container.active{
    display: block;
}
.user-not-found{
    display: none;
}
.user-not-found.active{
    display: block;
}
.loader-screen{
    display: none;
}
.loader-screen.active{
    display: block;
}
/* ------------------------------------styling-------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}
body{
    height: 100vh;
   /* width: 100%; */
   background-color: #f6f8ff;
   
}
section{
     display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5rem;
    
}
nav{
    /* display: flex;
    justify-content: space-around; */
    margin: 0 auto;
}
main{
    background-color: #fefefe;
    width: 500px;
   flex-direction: column; 
    margin: 10px;
    padding: 10px;
}
.profile-header{
    display: flex;
    justify-content: space-evenly;
}
.profile-name-container{
    display: flex;
    justify-content: space-between;
}
.user-joined{
    display: flex;
    flex-direction: column;
}